{sys, [
      {excl_archive_filters, [".*"]},
       {lib_dirs, ["../../", "../deps/"]},
       {rel, "circle_storage", "1",
        [
         kernel,
         stdlib,
         sasl,
         circle_storage
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "circle_storage"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]},
       {app, circle_storage, [{incl_cond, include}]},
       {app, syslog, [{incl_cond, include}]}
      ]}.

{target_dir, "circle_storage"}.

{overlay, [
           {mkdir, "data"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/circle_storage", "bin/circle_storage"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
