[
	{circle_storage, [
		{thrift_listen, 9105},
		{nodename, "ecae-test-denny"},
		{log_facility, local4},
		{datadir ,"data"}
	]},

	%% SASL config
	{sasl, [
	        {sasl_error_logger, {file, "log/sasl-error.log"}},
	        {errlog_type, error},
	        {error_logger_mf_dir, "log/sasl"},      % Log directory
	        {error_logger_mf_maxbytes, 10485760},
	        {error_logger_mf_maxfiles, 10}
	       ]}
].
